{% extends "CenterLayout.html" %}
{% block title %}pydom.de - Alter berechnen{% endblock %}
{% block body %}

<!-- alert -->
<div class="alert alert-secondary alert-dismissible fade show mr-3" role="alert">
    <strong>Gebe dein Geburtsdatum ein!</strong> Dann berechnen wir dein Alter.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        &times;
    </button>
</div>
<hr>
<!-- end alert -->

<form action="#" method="post">
    <p class="text-muted">Gebe deinen Geburtstag ein, damit wir dein Alter bestimmen können.</p>
    <p>
        <input class="btn btn-outline-secondary" type="date" value="2020-04-24" min="1900-01-01" max="2020-04-24" name="birthyear" required>
        <input class="btn btn-primary" type="submit" value="Weiter">
    </p>
</form>

{% endblock %}
