{% extends "layout.html" %}
{% block title %}pydom.de - Alter berechnen{% endblock %}
{% block body %}
<h1>Alter berechnen</h1><hr>
<form action="#" method="post">
    <p>Gebe dein Geburtsjahr ein, damit wir dein Alter berechnen können.</p>
    <p><input type="date" value="2020-04-24" min="1900-01-01" max="2020-04-24" name="birthyear" required></p>
    <p><input type="submit" value="Weiter"/></p>
</form>
<p> <a href='https://free-hit-counters.net/'>freehitcounters</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=de5af7ff7d69d546571f91539a04f568c79de689'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/674742/t/0"></script></p>
{% endblock %}
